header{
    background-color: 	#b2d8d8;
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul{
    display: flex;
    list-style: none;
}

ul {
    >li{
        margin-right: 1rem;
        border: 1px solid #008080;
        border-radius: 10px;
        >a{
            text-decoration: none;
            color: black;
            padding: 1em;
            &:hover{
                color: white;
            }
        }&:hover{
            background-color: #008080;
        }
    }
    
}