
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__research{
    margin-bottom: 2rem;
    >p{
        >.textBold{
            font-weight: bold;
        }
    }
    >div{
        width: 50%;
        justify-content: flex-end;
        >input{
            width: 100%;
            padding-left: 1rem;
            border-radius: 10px;
        }
    }
  }
}
main{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.hotel-card{
    border: 1px solid rgb(145, 144, 144);
    width: 33%;
    margin-right: 3px;
    p{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    &__badgeNew{
        background-color: 	#008080;
        width: fit-content;
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}
.hotel-card__img{
    &--size{
        width: 100%;
        height: 200px;
        background-size: cover;
        transition: transform 1s;
    }
    +p{
        font-weight: bold;
        font-size: 1.5em;
    }
    :hover{
        transform: scale(1.1) ;
    }
    overflow: hidden;

}

.badgeButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008080;
    margin-bottom: 2rem;
    border-width: 0px;
    >.material-icons{
        margin-right: 1rem;
    }
}

.textwhite{
    color: white;
}
.container__research{
    display: flex;
    justify-content: space-between;
}