<div class="container">
  <div>
    <h2>Liste Hotels</h2>
    <button (click)="toggleIsNewBadge()" type="button" class="badgeButton">
      <span class="material-icons textwhite">
        {{ showBadge ? 'visibility' : 'visibility_off' }}
      </span>
      <span class="textwhite">
        {{ showBadge ? "Cacher" : "Afficher" }} nouveau
      </span>
    </button>
    <hr>
    <div class="container__research">
      <p>
        <span>Filtre actuel: </span>
        <span class="textBold">{{ hotelFilter }}</span>
      </p>

      <div>
        <input type="text" [(ngModel)]="hotelFilter" placeholder="Nom de l'hotel">
      </div>
    </div>
  </div>
  <main>
    <div class="hotel-card" *ngFor="let hotel of filterHotelList">
      <div class="hotel-card__img">
        <img src="{{ hotel.hotelImgUrl }}" alt="hotel {{ hotel.hotelName }}" class="hotel-card__img--size" [routerLink]="['/hotels', hotel.hotelId]">
      </div>
      <p>{{ hotel.hotelName }}</p>
      <p>{{ hotel.hotelDescription }}</p>
      <p>{{ hotel.hotelPrice | currency: 'EUR': 'symbol': '1.2-2': 'fr'}}</p>
      <div class="hotel-card__arrow-r">
        <app-star-rating [rating]="hotel.rating"></app-star-rating>
        <span class="material-icons" [routerLink]="['/hotels', hotel.hotelId]">keyboard_arrow_right</span>
      </div>
      <div class="hotel-card__badgeNew textwhite" *ngIf="showBadge">Nouveau</div>

    </div>
  </main>
</div>